@model List<WebApplication10.Models.EmpModel>


<table class="table table-bordered table-active">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>MobileNo</th>
        <th>Address</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr>
    @foreach(var item in Model)
            {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.MobileNo</td>
            <td>@item.Address</td>
            <td><a href="@Url.Action("Delete","Home",new {@item.Id})" style="text-decoration:none;">Delete</a></td>
            <td><a href="@Url.Action("Edit","Home",new {@item.Id})" style="text-decoration:none;">Edit</a></td>
        </tr>

            }
</table>

